* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
}


/* ---- Container 1 ---- */
#container_1 {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

.choice {
    height: 350px;
    width: 450px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.choice img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#result {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#result_text {
    border: 1px solid black;
    border-radius: 10px;
    padding: 24px;
    letter-spacing: 3px;
    margin-bottom: 32px;
    font-weight: 600;
}

#score_board {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 48px;
    font-family: monospace;
}



/* ---- Container 2 ---- */
#container_2 {
    width: 100%;
    margin-top: 48px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.rps_options {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.main_container_rps {
    height: fit-content;
    display: flex;
}

.rps_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.rps_img:hover {
    cursor: pointer;
    border: 5px solid green;
    transition: border 0.1s;
}



/* ---- Reset Button ---- */
.btn {
    text-align: center;
    margin: 8px 0px;
}

button {
    padding: 16px 24px;
    font-size: 24px;
    border-radius: 30px;
    word-spacing: 8px;
    border: none;
    color: #000;
    background-color: none;
    transition: background-color 0.6s ease, color 0.6s ease;
}
button:hover {
    background-color: rgb(231, 36, 36);
    color: #fff;
}